h1 {
  margin-top: 5px;
  margin-bottom: 5px;
  font-family:Domine;
  color:#2E6558;
  font-weight:800;
  font-size:1.9em;
  letter-spacing:.1em
}

h3 {
  margin-top: 1px;
  margin-bottom: 5px;
  font-family:"PT Serif";
  font-size:1.1em;
  font-weight:500;
  color:#464C4A;
}

i.fas,
  i.fab {
    color: #000000;
  }


